autostart
dconf
enchant
eog
evolution
gedit
GIMP
goa*
gtk*
ibus
matplotlib
nautilus
powerline
procps
pulse
spotify
update-notifier
gnome*
user-dirs*
.gsd*
mimeapps.list

systemd/user/default.target.wants
evince/
htop/
